<html>
	<head>
		<title>Spectrum Alarm Table</title>
	</head>
	<body>
        #parse ( "/template/includes/actionmessages.vm" )
		#parse ( "/template/includes/actionerrors.vm" )
		<p>
    		Spectrum alarms $detailDescription
    	</p>
    		<table class="confluenceTable">
    		<thead><tr>
				<th class="confluenceTh">Severity</th>
				<th class="confluenceTh">Alarm Title</th>
				<th class="confluenceTh">Model Name</th>
				<th class="confluenceTh">Occurences</th>
			</tr></thead>
			<tbody>
				#foreach($alarm in $alarms)
					#set($attrs = $alarm.Attributes)
					#set($severity = $attrs.get($SpectrumAttibute.get("SEVERITY")))
					<tr style="background: $spectrumManager.getAlarmColor($severity);">
						<td class="confluenceTd"> $SpectrumAttibute.severityToString($severity)</td>
						<td class="confluenceTd"> $attrs.get($SpectrumAttibute.get("ALARM TITLE"))</td>
						<td class="confluenceTd"> $attrs.get($SpectrumAttibute.get("MODEL NAME"))</td>
						<td class="confluenceTd"> $attrs.get($SpectrumAttibute.get("OCCURENCES"))</td>
					</tr>
				#end 
			</tbody>
			</table>
		<p>
   			 SpectroServer: $spectrumManager.SpectroServerName
    	</p>
	</body>
</html>